# Object files
*.nds

# Compilers
tools/mwccarm/**

# SDK
tools/bin/**
*.lcf.template
*.response.template

# Build folder
build/**
sub/build/**
toolchain_tmp/

# Icon build files
*.nbfp
*.nbfc

# IDE folders
.idea/
.vscode/

# Tool builds/executables
*.exe
*.a
*.d
*.o
*.sbin
*.tmp

# MacOS garbage
.DS_Store
*.plist
