/DWC/
/SCRIPT/
BALANCE/item_p.bin
BALANCE/st_i2n_j.bin
BALANCE/st_m2n_j.bin
BALANCE/st_n2m_j.bin
DUNGEON/dungeon.bin
FONT/banner.bin
FONT/banner_c.bin
FONT/banner_s.bin
FONT/kanji.dat
FONT/markfont.dat
FONT/staffont.dat
FONT/w_icon.wan
GROUND/s05p02a1.wan
GROUND/s05p02a2.wan
GROUND/s05p02a3.wan
GROUND/s05p02b1.wan
GROUND/s05p02c1.wan
GROUND/s05p03a2.wan
GROUND/s08p01a1.wan
GROUND/v04p03a1.wan
MAP_BG/bg_list.dat
MAP_BG/s11p02c.bma
MAP_BG/s11p02c.bpc
MAP_BG/s11p02c.bpl
MAP_BG/s13p01a.bma
MAP_BG/s13p01a.bpc
MAP_BG/s13p01a.bpl
MAP_BG/s13p01b.bpl
MAP_BG/s99p02a.bma
MAP_BG/s99p02a.bpc
MAP_BG/s99p02a.bpl
MAP_BG/s99p03a.bma
MAP_BG/s99p03a.bpc
MAP_BG/s99p03a.bpl
MESSAGE/text_e.str
MONSTER/m_attack.bin
MONSTER/m_ground.bin
SYSTEM/165.srl
SYSTEM/166.srl
SYSTEM/167.srl
SYSTEM/168.srl
SYSTEM/169.srl
SYSTEM/170.srl
