/SCRIPT/
BALANCE/item_p.bin
FONT/banner.bin
FONT/banner_c.bin
FONT/banner_s.bin
FONT/staffont.dat
GROUND/s05p02a1.wan
GROUND/s05p02a2.wan
GROUND/s05p02a3.wan
GROUND/s05p02b1.wan
GROUND/s05p02c1.wan
GROUND/v04p03a1.wan
MAP_BG/bg_list.dat
MAP_BG/s99p02a.bma
MAP_BG/s99p02a.bpc
MAP_BG/s99p02a.bpl
MESSAGE/text_e.str
